@use "../../../scss/base.scss" as base;

.crew-item-wrap{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 539px;
    max-width: 640px;

    @media (width <= 1100px){
        padding: 40px 0px 0px;

        width: 512px;
    }

    @media(width < 700px){
        padding: 0;
        width: 327px;
        max-width: 640px;
    }
}

.crew-item-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 539px;

    @media(width <= 1100px){
        width: 512px;
        height: auto;
    }

    @media(width < 700px){
        width: 327px;
        height: auto;
    }
}

.crew-item-wrap h2{
    width: 100%;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.5);

    @media(width <= 1100px){
        text-align: center;
    }
    
    @media(width < 700px){
        text-align: center;
        height: 21px;
    }
}

.crew-item-wrap h1{
    width: 100%;
    @media(width <= 1100px){
        text-align: center;
    }

    @media(width < 700px){
        text-align: center;
        height: 28px;
    }
}

.crew-item-wrap p{
    color: base.$blue-300;

    @media(width <= 1100px){
        text-align: center;
    }
    
    @media(width < 700px){
        text-align: center;
        height: 100%;
    }
}