@use "../../scss/base.scss" as base;

.destination{
    height: 100vh;
    min-height: 888px;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-items: center;
    padding: 0 0 0 0;
    gap: 8px;
}

.destination-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1110px;
    max-width: 1110px;
    height: 792px;
}

.destination-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 365px;
    height: 34px;
}/* 02 */

.o1{
    opacity: 0.25;
    font-weight: 700;
    letter-spacing: 4.725px;
}

.destination-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 1110px;
    height: 734px;
}

.destination-img-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 539px;
    height: 734px;
}

.destination-img{
    width: 480px;
    height: 480px;
}

.destination-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    width: 539px;
    min-width: 445px;
    height: 734px;
}

.destination-item-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    width: 445px;
    max-width: 445px;
    height: 468px;
}

.destination-nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 445px;
    height: 32px;
}

.dest-link{
    color: base.$blue-300;
    border-bottom: 3px solid rgba(255, 255, 255, 0.0);
    transition: border-bottom, 0.8s ease;
    cursor: pointer;
}

.dest-link:hover{
    color: base.$white;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.dest-link.active{
    color: base.$white;
    border-bottom: 3px solid rgba(255, 255, 255, 1.0);
}

@media (width <= 1100px){
    .destination{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 8px;

        width: 100%;
        height: 928px;
        min-height: 928px;
    }
    .destination-content{
        width: 688px;
        height: 848px;
        align-items: center;
    }
    .destination-header{
        align-items: flex-start;
        width: 688px;
        height: 24px;
    }
    .destination-item{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        width: 688px;
        height: 800px;
    }
    .destination-img-div{
        width: 688px;
        height: 384px;
    }
    .destination-img{
        width: 300px;
        height: 300px;
    }
    .destination-item-content{
        width: 688px;
        min-width: 445px;
        height: 384px;
    }
    .destination-item-wrap{
        gap: 24px;

        width: 514px;
        max-width: 514px;
        height: 361px;
    }
    .destination-nav{
        justify-content: center;

        width: 514px;
        height: 32px;
    }
}

@media (width < 700px){
    .destination{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 8px;

        width: 375px;
        height: 792px;
        min-height: 792px;
    }
    .destination-content{
        width: 327px;
        height: 744px;
    }
    .destination-header{
        justify-content: center;
        
        width: 327px;
        height: 19px;
    }
    .destination-item{
        width: 327px;
        height: 701px;
    }
    .destination-img-div{
        width: 327px;
        height: 203px;
    }
    .destination-img{
        width: 150px;
        height: 150px;
    }
    .destination-item-content{
        width: 327px;
        height: 466px;
        min-width: 327px;
    }
    .destination-item-wrap{
        gap: 24px;

        width: 327px;
        max-width: 514px;
        height: 466px;
    }
    .destination-nav{
        justify-content: center;

        width: 327px;
        height: 32px;
    }
}