@use "../../scss/base.scss" as base;

.crew{
    height: 100vh;
    min-height: 888px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;
    gap: 8px;

    @media (width <= 1100px){
        padding: 40px;
        min-height: 928px;
    }

    @media (width < 700px){
        padding: 24px;

        width: 375px;
        height: 792px;
        min-height: 792px;
    }
}

.crew-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1110px;
    max-width: 1110px;
    height: 792px;

    @media (width <= 1100px){
        width: 688px;
        height: 848px;
    }

    @media (width < 700px){
        width: 327px;
        height: 744px;
        align-items: center;
    }
}

.crew-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 285px;
    height: 34px;

    @media (width <= 1100px){
        width: 688px;
        height: 24px;
    }

    @media( width < 700px){
        justify-content: center;

        width: 327px;
        height: 19px;
    }   
}

.o2{
    letter-spacing: 4.725px;
    font-weight: 700;
    opacity: 0.25;
}

.crew-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 1110px;
    height: 734px;

    @media (width <= 1100px){
        flex-direction: column;
        width: 688px;
        height: 800px;
    }

    @media(width < 700px){
        flex-direction: column;
        align-items: center;

        width: 327px;
        height: 701px;
    }
}

.crew-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 539px;
    height: 734px;

    @media (width <= 1100px){
        gap: 24px;

        width: 512px;
        height: 305px;
    }

    @media (width < 700px){
        padding: 40px 0px 0px;
        gap: 24px;

        width: 327px;
        height: 319px;
    }
}

.crew-list-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 48px;
    gap: 8px;

    width: 539px;
    height: 63px;

    @media(width <= 1100px){
        padding: 0px;

        width: 512px;
        height: 10px;
    }

    @media(width < 700px){
        padding: 0px;

        width: 327px;
        height: 10px;
    }
}

.crew-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0;
    gap: 40px;

    @media(width <= 1100px){
        justify-content: center;
        align-items: center;
        gap: 16px;

        width: 512px;
        height: 10px;
    }

    @media(width < 700px){
        justify-content: center;
        align-items: center;
        gap: 16px;

        width: 327px;
        height: 10px;
    }
}

.crew-list-button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    list-style-type: none;
    background-color: rgb(255, 255, 255, 0.17);
    transition: background-color 0.3s ease;

    cursor: pointer;

    @media(width <= 1100px){
        width: 10px;
        height: 10px;
    }

    @media(width < 700px){
        width: 10px;
        height: 10px;
    }
}

.crew-list-button:hover{
    background-color: rgb(255, 255, 255, 0.5);
}

.crew-list-button.active{
    background-color: rgb(255, 255, 255, 1);
}

.crew-img-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 539px;
    height: 734px;

    @media (width <= 1100px){
        align-items: flex-start;

        width: 688px;
        height: 463px;
    }
    
    @media(width < 700px){
        width: 327px;
        height: 350px;
    }
}

.crew-img{
    width: 539.28px;
    height: 676px;

    @media(width <= 1100px){
        width: 446.74px;
        height: 560px;
    }

    @media(width < 700px){
        width: 271.24px;
        height: 340px;
    }
}